/*
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/
body {
  padding: 0;
}

.Main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#But-get-nlp {
  font-size: large;
  margin: 1em;
  padding: 1em;
}

.token {
  margin-right: 0.1em;
  margin-left: 0.1em;
  font-size: larger;
}

button.token.selected {
  background-color: #9a2d38;
}
